---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image && (
    <div class="post-featured-image">
      <a href={getPostLink(post.Slug)}><img src={image} alt="post-featured-image" /></a>
    </div>
  )
}

<style>
  .post-featured-image {
    padding: 0.6rem 0 0.2rem;
  }
  .post-featured-image img {
    display: block;
    width: 400px;
    height: 400px;
    object-fit:contain ;
    border: solid 0.5px;
    border-radius: 10px;
    background-color: #f6f6f661;
    position:relative;
  top:0;
  }
  .post-featured-image img:hover {
    top:-3px;
    box-shadow: 4px 4px black;
  }
</style>
